<!DOCTYPE html>
<html lang="en">

<head>

    <title>Main Page</title>
    <link rel="stylesheet" href="D:\wjssp-119 batch\day-11\main.style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    
</head>

<body>
    <div class="menu-container">
        <header>
            <div class="header-container">
                <div class="logo"></div>
                <nav>
                    <ul>
                        <li><a href="">MEN</a></li>
                        <li><a href="">WOMEN</a></li>
                        <li><a href="">KIDS</a></li>
                        <li><a href="">HOME</a></li>
                        <li><a href="">BEAUTY</a></li>
                        <li><a href="">GENG</a></li>
                        <li><a href="">STUDIO <span class="New">NEW</span></a></li>
                    </ul>
                </nav>
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input placeholder="searh for products, brands and more" type="text">
                </div>
                <div class="user-info">
                    <div>
                        <i class="fa-regular fa-user"></i>
                        <span>Profile</span>
                    </div>
                    <div>
                        <i class="fa-regular fa-heart"></i>
                        <span>Wishlist</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span>Bag</span>
                    </div>
                </div>
            </div>
        </header>
        <div class="filter-div-row">
            <div class="filter-div-row-items">Home |</div>
            <div class="filter-div-row-items">Clothing |</div>
            <div class="filter-div-row-items">Men T-shirts</div>
        </div>
        <div class="product-left-container">
    <!-- Left Images -->
    <div class="product-images">
        <img src="D:\wjssp-119 batch\day-11\Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra\Screenshot 2025-12-24 121111.png" width="350px" height="480px" alt="Front View">
        <img src="D:\wjssp-119 batch\day-11\Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra\Screenshot 2025-12-24 121418.png" width="250px" height="480px" alt="Back View">
    </div>

    <!-- Right Details -->
     <div class="product-description-details">
    <div class="product-details">
        <h1>Kushi Flyer</h1>
        <p class="category">Men Printed T-shirt</p>
        <p class="rating">⭐ 3.4 | 34 Ratings</p> <hr>
        <br>

        <h2 class="price">₹151 <span>₹799</span> <small>(81% OFF)</small></h2>
        <br>

        <h3>Select Size</h3>
        <div class="sizes">
            <button>S</button>
            <button>M</button>
            <button>L</button>
            <button>XL</button>
            <button>XXL</button>
        </div>

        <button class="add-to-bag">ADD TO BAG</button>
        <button class="wishlist">WHISLIST</button>

     </div>
    

      <h3>DELIVERY OPTIONS</h3>


  <div class="delivery-box">
    <input type="text" placeholder="Enter pincode">
    <button>Check</button>
  </div>
<br>

  <ul class="info-list">
    <li>100% Original Products</li>
    <br>
    <li>Pay on delivery might be available</li>
    <br>
    <li>Easy 7 days returns and exchanges</li>
  </ul>

  <h3>BEST OFFERS</h3>
  <p class="price">Best Price: <strong>Rs. 128</strong></p>

  <ul class="offer-list">
    <li>Applicable on orders above Rs. 499 (first purchase only)</li>
    <br>
    <li>Coupon Code: <strong>MYNTRASAVE</strong></li>
    <br>
    <li>15% off (Your total saving: Rs. 671)</li>
    <br>
  </ul>
  <h4 style="color: #ff3f6c;">View Eligible Products</h4>
  <p class="cashback"><b>7.5% Assured Cashback on Flipkart Axis / SBI Credit Card</b></p>
  <br>
  <ul>
    <li>Maximum cashback: INR 4,000 per quarter ; Cashback is not applicable on transactions less than INR 100</li>
  </ul>
  <br>
  <p class="cashback"><b>7.5% Assured Cashback on Flipkart SBI Credit Card</b></p>
  <br>
  <ul>
    <li>Maximum cashback: INR 4,000 per quarter ; Cashback is not applicable on transactions less than INR 100
</li>
  </ul>

  <p class="emi" style="font-size: 15px; font-weight: bold;">EMI option available</p>
  <br>
  <li>EMI starting from Rs.8/month</li>
</div>            
</div>
</div>
<footer class="footer">
    <div class="footer-container">
        
        <div class="footer-box">
            <ul>
            <h3>ONLINE SHOPPING</h3>
            <li>Men</li>
            <li>Women</li>
            <li>Kids</li>
            <li>Home</li>
            <li>Beauty</li>
            <li>Genz</li>
            <li>Gift Cards</li>
            <li>Myntra Insider</li>

            <h3>USEFUL LINKS</h3>
            <li>Blog</li>
            <li>Careers</li>                                       
            <li>Site Map</li>                                       
            <li>Corporate Information</li>                                       
            <li>Whitehat</li>                                       
            <li>Cleartrip</li>  
            <li>Myntra Global</li>
            </ul>                                    
        </div>

        <div class="footer-box">
            <h3>CUSTOMER POLICIES</h3>
            <ul>
                <li>Contact Us</li>
                <li>FAQ</li>
                <li>T&C</li>
                <li>Terms Of Use</li>
                <li>Track Orders</li>
                <li>Shipping</li>
                <li>Cancellation</li>
                <li>Returns</li>
                <li>Privacy policy</li>
                <li>Grievance Redressal</li>
                <li>FSSAI Food Safety Connect app</li>
            </ul>
        </div>

        <div class="footer-box1">
            <h3>EXPERIENCE MYNTRA APP ON MOBILE</h3>
            <div class="footer-image-left">
                <img src="D:\wjssp-119 batch\day-11\Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra\80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png" width="123px" height="42px"></div>
            <div class="footer-image-right">
                <img src="D:\wjssp-119 batch\day-11\Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra\bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png"width="123px" height="42px"></div>
                <div class="keep-in-touch">KEEP IN TOUCH</div>
                <div class="footer-icon">
                    <img src="D:\wjssp-119 batch\day-11\Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra\d2bec182-bef5-4fab-ade0-034d21ec82e31574604275433-fb.png" width="20px" height="20px">
                    <img src="D:\wjssp-119 batch\day-11\Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra\f10bc513-c5a4-490c-9a9c-eb7a3cc8252b1574604275383-twitter.png" width="20px" height="20px">
                    <img src="D:\wjssp-119 batch\day-11\Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra\a7e3c86e-566a-44a6-a733-179389dd87111574604275355-yt.png" width="20px" height="20px">
                    <img src="D:\wjssp-119 batch\day-11\Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra\b4fcca19-5fc1-4199-93ca-4cae3210ef7f1574604275408-insta.png" width="20px" height="20px">
                </div>
                <div class="footer-desktop-icon">
                <div class="icon-top">
                    <img src="D:\wjssp-119 batch\day-11\Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra\6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png" width="48px" height="40px"><strong>100% ORIGINAL</strong> guarantee for all products at myntra.com</div>
                <div class="icon-bottom">
                   <img src="D:\wjssp-119 batch\day-11\Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra\becb1b16-86cc-4e78-bdc7-7801c17947831684737106127-Return-Window-image.png" width="48px" height="40px"><strong>Return within 14days</strong> of receiving your order</div> 
                </div>
                
            </div>
            
             </div>
        </div>
</div>
</footer>

</body>
</html>
